Source: nautilus-pdf-converter
Section: gnome
Priority: optional
Maintainer: akallabeth <akallabeth@posteo.net>
Uploaders:
 akallabeth <akallabeth@posteo.net>
Build-Depends:
 debhelper-compat (= 13),
 gettext, 
 python3,
 python3-nautilus,
 dh-sequence-python3
Standards-Version: 4.6.1
Homepage: https://github.com/akallabeth/nautilus-pdf-converter
Vcs-Git: https://github.com/akallabeth/nautilus-pdf-converter.git
Vcs-Browser: https://github.com/akallabeth/nautilus-pdf-converter

Package: nautilus-copy-as-uri
Architecture: all
Depends: 
 ${misc:Depends},
 gettext, 
 python3,
 python3-nautilus,
 python3-pyperclip
Recommends: nautilus (>= 3.0.0)
Description: nautilus extension to copy uri to clipboard 

Package: nautilus-copy-as-path
Architecture: all
Depends: 
 ${misc:Depends},
 gettext, 
 python3,
 python3-nautilus,
 python3-pyperclip
Recommends: nautilus (>= 3.0.0)
Description: nautilus extension to copy full path to clipboard 

Package: nautilus-pdf-converter
Architecture: all
Depends: 
 ${misc:Depends},
 gettext, 
 python3,
 python3-nautilus,
 ghostscript
Recommends: nautilus (>= 3.0.0)
Description: nautilus extension to mass resize PDF/PS/EPS files
 This package adds a "Resize PDF/PS/EPS..." menu item to
 the context menu of all PDF/PS/EPS files. This creates a new
 version of the file with '.ebook.<ext>' attached and quality
 adjusted to ghostscript /ebook switch
